.filters {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 0.6em;
	transition: 0.5s ease-in-out;
	border-right: 0;
}

.filters .closebtn {
	position: absolute;
	top: 0;
	right: 1em;
	font-size: 3em;
	margin-left: 5em;
}

.openbtn {
	font-size: 1em;
	cursor: pointer;
	background-color: #00c8ff;
	color: black;
	border: none;
	margin-left: 0.6em;
}

.openbtn:hover {
	background-color: #0092ba;
}

#main {
	transition: ease-in-out .5s;
}

main {
	margin-left: 0em;
	transition: .5s;
}

.skodacitigoexample {
	margin: auto;
	object-fit: contain;
	width: 30%;
	padding-left: 1em;

}

.toyotagt86example {
	margin: auto;
	object-fit: contain;
	width: 30%;
	aspect-ratio: 3/2;
	padding-left: 1em;
}

.daihatsucopenexample {
	margin: auto;
	object-fit: contain;
	width: 30%;
	aspect-ratio: 3/2;
	padding-left: 1em;
}